---
layout: default
title: Test Report
description: Life is a test itself.
---
<p>This is testreport.md</p>

### 1. Component Testing

The scripts were written separately in a different Unity project and were moved to the main Unity project to be implemented after testing if it worked separately. The components testing was done with a separate Unity project for each member. The test we chose mainly focused on the user requirements and were done within the Github project. The requirements were partially met with alpha testing. Each member played the game, testing the requirements and overall performance. The choice of testing was appropriate because the product was not ready to be published.  

### 2. System Testing

When performing system testing for our project, we took into account the different operating systems that the users may be using trying to run our program. In order to conduct these tests, we decided to push our files to Github and pull them from the different operating systems that we think the users may use. The two systems that we tested were Mac and Windows, as we doubted many players would use Linux in order to play games. When testing with these two operating systems, we noticed that we had to constantly change a handful of files every time we pulled because Unity runs differently on each operating system. In order to overcome this obstacle we decided that we would create two different files, one for Mac specific and one for Windows, and simply have them share the files that do not need any file conversion when pushing and pulling. 
