---
layout: default
title: Test Report
description: Life is a test itself.
---
<p>This is testreport.md</p>

###1. Component Testing

The scripts were written separately in a different Unity project and were moved to the main Unity project to be implemented after testing if it worked separately. The components testing was done with a separate Unity project for each member. The test we chose mainly focused on the user requirements and were done within the Github project. The requirements were partially met with alpha testing. Each member played the game, testing the requirements and overall performance. The choice of testing was appropriate because the product was not ready to be published.  



